*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#f2f2f2;
    --text-dark:#000;
}
/* Navbar */
.body-style{
    width: 90%;
    margin: 0 auto;
}
.logo{
    padding:15px 35px;
    height:3.8rem ;
}
.nav-link{
    font-size: 13px;
    padding: 0 15px 0 15px;
    color: var(--text-dark) !important;
}
.nav-icon{
    font-size: 18px;
    padding: 0 10px 0 10px;
    color: var(--text-dark);
}
/* Carousel code  */
.img-slider{
    width: 60%;
    height: 90vh;
    margin-left: 12px;
}
.slider-item{
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    
}
.left
{
    display: flex;
    flex-direction: row-reverse;
}
.left img{
    margin-right: 10px;
}
.slider-item h1{
    font-size: 30px;
    text-align: left;
}
.btn{
    padding:10px 40px;
    margin-top: 10px;
    font-size: 16px;
}
/* device section */
.margin-top{
    margin-top: 8rem !important;
}
.img-device{
    height: 2.5rem;
    width: 2.5rem;
}
.device-text a{
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;

}
/* card section */
.card{
    border: none;
}
.card a{
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}
.card h2{
    font-size: 25px;
}
/* AI section */
.ai{
    height: 450px;
    width: 100%;
    background-image: url("img/bing.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
}
.ai p{
    letter-spacing: 1px;
    margin-top: 20px;
}
/* social icon */
.social-icon{
    margin-top: 4rem;
}
.social-icon p{
    font-size: 1.5rem;
}
.social-icon i{
    margin-top: -10px;
    font-size: 1.5rem;
    margin-left: 20px;
}
/* footer */
footer{
    background-color: #f2f2f2;
    padding: 60px 0;
}
footer li{
    list-style: none !important;

}
footer a{
    text-decoration: none;
    color: var(--text-dark);

}
.footer-ul{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-ul ul{
    margin-top: 20px;
}
.footer-ul li{
    margin-top: 10px;
    font-size: 14px;
}

/* responsive code */
@media(max-width:560px){
    .slider-item{
        display: flex;
        flex-direction: column;
    }

    .img-slider{
        height: auto;
        width: 100%;
    }

}